@model IEnumerable<IOSU.ViewModels.ManufacturersClientsModel>

<div class="text-center">
    <h4>Общий список производителей и заказчиков</h4>
</div>

<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerName)
                </td>
                <td>
                    @if (item.Certification == true)
                    {
                        <a>Да</a>
                    }
                    else
                    {
                        <a>Нет</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @if (item.Discount == true)
                    {
                        <a>Да</a>
                    }
                    else
                    {
                        <a>Нет</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
